<h2>Template: <small>Dinámicos</small></h2>
<hr />

<form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" 
                   class="form-control" 
                   placeholder="Nombre de la persona" 
                   [ngModel]="persona.nombre"
                   name="nombre"
                   required
            >

            <span class="form-text text-danger" 
                  *ngIf="this.miFormulario.controls.nombre?.invalid && this.miFormulario.controls.nombre?.touched">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" 
                       class="form-control" 
                       [(ngModel)]="nuevoFavorito" 
                       name="nuevoFavorito" 
                       placeholder="Agregar favorito"
                       (keyup.enter)="agregarFavorito()"
                >

                <button type="button" class="btn btn-outline-primary" (click)="agregarFavorito()">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let favorito of persona.favoritos; let i = index">
                <input type="text" 
                       class="form-control"
                       [(ngModel)]="favorito.nombre"
                       name="favorito_{{ i }}"
                       required
                >

                <button type="button" class="btn btn-outline-danger" (click)="borrarFavorito(i)">Borrar</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary float-end" (click)="guardar()" [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>
</form>


<span>Persona</span>
<pre>{{ persona | json }}</pre>
